.section-our-solution {

    @include flexBox(column);

    .our-solution {

        @include flexBox(column);

        width: 100%;
        max-width: 1000px;
        height: auto;
        padding: 40px 0 40px 0;
        background: #ffffff;
        margin-top: -30px;
        border-radius: 5px;

        .os-main-title {
            font-size: 2rem;
            color: #757575;
            margin: 5px 0 15px 0;
        }

        .os-main-container {

            @include flexBoxWrap(row);

            .os-container {

                @include boxShadow;

                position: relative;
                display: inline-block;
                width: 300px;
                height: auto;
                min-height: 420px;
                margin: 15px;
                border-radius: 5px;
                padding: 25px;
                text-align: center;

                .os-title {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #757575;
                }

                .os-image {
                    background: #e9e9e9;
                    margin-top: 15px;
                }

                .os-info {
                    font-size: 1rem;
                    padding: 10px;
                    margin-top: 15px;
                    color: #757575;
                }
                a {

                    text-decoration: none;

                    .os-button {
                    
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        margin-left: -60px;
                        color: orange;
                        background: #ffffff;
                        border: 2px solid orange;
                        border-radius: 25px;
                        transition: 0.3s ease;
                        width: 120px;
                        padding: 8px 0 8px 0;
                        text-align: center;

                        &:hover {
                            color: #ffffff;
                            background: orange;
                            border: 2px solid orange;
                        }
                    }
                }
            }
        }
    }
}



















.section-our-experience {

    @include flexBox(column);

    padding: 40px 0 40px 0;
    margin-top: 50px;
    width: 100%;
    height: auto;
    background: #ffffff;

    .so-main-container {

        @include flexBox(column);
        
        width: 100%;
        max-width: 1200px;
        height: auto;

        .so-main-title {
            font-size: 2rem;
            color: #757575;
        }

        .so-line {

            width: 50%;
            height: 2px;
            background-color: #75757538;
            margin: 10px 0 30px 0;
        }

        .so-container {

            @include flexBoxWrap(row);

            .so-img {
                background: #e9e9e9;
                margin: 20px;
            }

        }
    }
}















.section-your-career {

    @include flexBox(column);

    width: 100%;
    height: auto;
    background: linear-gradient(rgba(253, 144, 43, 0.75),rgba(255, 145, 0, 0.75)),url("/IMAGES/slideshow/slide-1.jpg");
    background-position: center;
    padding: 40px 0 40px 0;

    .yc-main-title {
        font-size: 2rem;
        color: #ffffff;
        margin-bottom: 30px;
    }

    .yc-main-container {
        
        @include flexBoxWrap(row);
        width: 100%;
        max-width: 1200px;

        .yc-container {

            @include flexBox(column);

            width: 320px;
            height: 250px;
            background: #ffffff;
            position: relative;
            cursor: pointer;
            margin: 10px;
            border-radius: 5px;
            border: 2px solid #ffffff;

            .yc-title-container {

                @include flexBox(column);
                
                top: 0;
                background: orange;
                width: 100%;
                height: 100%;
                transition: 0.3s ease-in-out;
                border-radius: 5px;      
                position: absolute;

                .yc-title {   
                    margin: 10px;
                    font-size: 2rem;
                    color: #ffffff; 
                    transition: 0.3s ease-in-out;

                }

                .yc-image {
                    background: #e9e9e9;
                    transition: 0.3s ease-in-out;
                }
            }

            &:hover {
                .yc-title-container {
                    height: 100px;
                    background-color: white;

                    .yc-title {
                        font-size: 1.5rem;
                        color: orange;
                    }

                    .yc-image {
                        margin-top: 30px;
                        width: 35px;
                        height: 35px;
                    }

                }
            }

            .yc-info {
                margin-top: 100px;
                font-size: 1rem;
                padding: 20px;
                text-align: center;
                color: #757575;
            }

            a{
                text-decoration: none;

                .yc-button {

                    border: 2px solid orange;
                    border-radius: 25px;
                    color: orange;
                    background: #ffffff;
                    font-size: 1rem;
                    padding: 5px 20px 5px 20px;
                    margin-top: 10px;
                    transition: 0.3s;

                    &:hover {
                        color: #ffffff;
                        background: orange;
                    }
                }
            }
        }
    }

}








.section-our-locations {
    @include flexBox(column);

    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 40px 0 40px 0;

    .ol-main-title {
        font-size: 2rem;
        color: #757575;
        margin-bottom: 30px;
    }

    .ol-main-container {

        @include flexBoxWrap(row);

        width: 100%;
        max-width: 1200px;

        .ol-container {

            @include boxShadow;

            @include flexBox(row);
            justify-content: space-between;
            width: 100%;
            max-width: 800px;
            height: auto;
            background: #ffffff;
            margin: 15px;
            padding: 30px 30px 30px 30px;
            transition: 0.3s ease;

            .ol-image {
                background: #e9e9e9;
            }

            .ol-content-container {

                text-align: center;
                height: 220px;
                width: 100%;
                max-width: 400px;
                min-width: 250px;
                margin: 20px 0 20px 0;
                position: relative;

                .ol-title {
                    font-size: 1.3rem;
                    margin: 20px 0 20px 0;
                    color: orange;
                }

                .ol-info {
                    font-size: 1rem;
                    color: #757575;
                    padding: 25px;
                }

                .ol-link-container {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;

                    a   {
                        @include flexBox(column);
                        text-decoration: none;
                        color: orange;
                        transition: 0.3s ease;

                        &:hover {
                            color: #757575;
                        }
                    }
                }
            }

            &:hover {
                background: #f5f5f5;
            }
        }

        @media(max-width: 800px) {
            .ol-container {
                @include flexBox(column);
                max-width: 300px;
            }
        }
    }
}


.section-get-updated {

    @include flexBoxWrap(row);

    width: 100%;
    height: auto;
    background: #ffffff;

    a {
        text-decoration: none;
        .gu-button {
            font-size: 1.5rem;
            border: 2px solid orange;
            border-radius: 50px;
            background: #ffffff;
            color: orange;
            padding: 8px 40px 8px 40px;
            margin: 30px 25px 30px 25px;
            transition: 0.3S ease;

            &:hover {
                color: #ffffff;
                background: orange;
            }
        }
    }
}