.header {

    @include flexBox(column);

    @include headerDesign("/IMAGES/headerbg/sample-bg.jpg");

    .title {
        font-size: 75px;
        color: #ffffff;
    }

    .subtitle {
        font-size: 20px;
        color: #ffffff;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .arrow-container {

        width: 10vh;
        height: 10vh;
        position: absolute;
        margin-left: -5vh;
        padding-top: 50px;
        animation: moveUpDown 1s linear infinite;
        cursor: pointer;
    
        .left-line {
            width: 6vh;
            height: 0.7vh;
            background: #ffffff;
            transform: rotate(45deg);
            left: 0;
            position: absolute;
            border-radius: 5px;
        }
    
        .right-line {
            width: 6vh;
            height: 0.7vh;
            background: #ffffff;
            transform: rotate(135deg);
            right: 0;
            position: absolute;
            border-radius: 5px;
        }
        
    }
    
    .ID-container {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: -60px;
    }

}

@keyframes moveUpDown {
    0%, 100% {
        bottom: 20px;
      }
      50% {
        bottom: 35px;
      }
}





















.section-solution {

    @include flexBox(column);
    padding-bottom: 40px;

    .solution {

        @include flexBox(column);

        width: 100%;
        max-width: 1000px;
        height: auto;
        padding: 40px 0 40px 0;
        background: #ffffff;
        margin-top: -30px;
        border-radius: 5px;

        .s-main-title {
            font-size: 2rem;
            color: #757575;
            margin: 5px 0 15px 0;
        }

        .s-main-container {

            @include flexBoxWrap(row);

            .s-container {

                @include boxShadow;

                position: relative;
                display: inline-block;
                width: 300px;
                height: auto;
                min-height: 300px;
                margin: 15px;
                border-radius: 5px;
                padding: 25px;
                text-align: center;

                .s-title {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #757575;
                    margin-top: 30px;
                }

                .s-image {
                    background: #e9e9e9;
                    margin-top: 15px;
                }
            }
        }
    }
}







.section-service-1 {

    @include flexBox(column);

    width: 100%;
    height: auto;
    background: #ffffff;

    .s1-main-title {
        color: #757575;
        font-size: 2rem;
        margin: 40px 0 30px 0;
    }

    .s1-container-kind-1 {
        
        @include flexBoxWrap(row);

        width: 100%;
        max-width: 1200px;
        height: auto;
        position: relative;

        .s1-image {
            background: #e9e9e9;
            position: relative;
            margin: 20px;
        }

        .s1-k1-info-container {
            width: 100%;
            max-width: 500px;
            margin: 20px;
            text-align: right;

            .s1-title {
                color: #757575;
                font-size: 2rem;
                margin: 20px 0 20px 0;
            }

            .s1-info {
                color: #757575;
                font-size: 1.2rem;
                margin: 20px 0 20px 0;
                line-height: 1.4em;
            }
        }
    }
}




















.section-more-service-1 {

    @include flexBox(column);

    width: 100%;
    height: auto;

    .ms-main-info-container {

        @include flexBox(column);

        width: 100%;
        max-width: 1200px;
        height: auto;

        .ms-container {

            @include flexBoxWrap(row);
            
            background: #ffffff;
            padding: 30px;
            margin: 20px;

            justify-content: space-between;

            @include boxShadow;

            .ms-title {
                color: #757575;
                font-size: 2rem;
                margin: 20px 0 20px 0;
                border-right: 2px solid #757577;
                padding: 20px 40px 20px 20px;
            }

            .ms-info {
                width: 85%;
                color: #757575;
                font-size: 1.2rem;
                margin: 20px 0 20px 0;
                line-height: 1.4em;
                padding: 0 0 0 20px;
            }

        }

        .reverse {

            flex-direction: row-reverse;

            .ms-title {

                border-left: 2px solid #757575;
                border-right: 0px solid #757575;
                padding: 20px 20px 20px 40px;

            }

            .ms-info {
                text-align: right;
                padding: 0 20px 0 0;
            }


        }

    }

}



